/* app css stylesheet */
body
{
	background-color: #eeeeee;
	font-family:sans-serif;
}
div.outer
{
	position: absolute;
	bottom: 0px;
	top: 20px;
	left: 20px;
	right: 20px;

}
div.logo
{
	color: white;
	position: absolute;
	right: 0px;
	font-family: inherit;
	font-size: 36pt
}
.viewcontainer
{
	position:absolute;
	top:60px;
	bottom: 20px;
	left: 0px;
	right:0px;
	
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	
	border: 0.1em solid black;
	background-color: #ffffff;
	/*height: 100%;*/
}

.menu {
	

  height: 40px;
 
  list-style: none;

  margin-bottom: 0;
  padding: 0 0 0;position: absolute;
	top: 10px;
}

.menu:before {
/*  content: "["; */
	 padding-left: 20px;
}

.menu:after {
/*  content: "]"; */
}

.menu > li {
	  display: inline;
	  height: 35px;
	 padding-right: 10px;
}
.menu > li a {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: #ffffff;
	font-size: 30px;
	border-bottom: 1px solid black !important;
}
.menu > li a.current {
	background-color: #EEEEEE;
	color: orange;
}

.menu > li a:hover {
	color: orange;

}
.menu > li:before {

}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0; 
}
.menu .current
{
	border: 1px solid black;
}
.footer
{
	font-size: 0.75em;
	position: absolute;
	bottom: 3px;
	left: 0px;
	right: 0px;
} 
.right
{
	float:right;
}
.left
{
	float: left;
}