<div ng-controller="superChart.controllers.ChartController">
    <H1>{{chartDetail.name}}</H1>
    <p>{{chartDetail.description}}</p>
    
    <div style="display:block;font-size: 72pt; color: white; background-color: silver; text-align: center; vertical-align:middle; width:100%;padding-top:100px;padding-bottom:100px;">CHART</div>
    
    <H2>Series</H2>
    
    <table>
        <thead>
            <th>Name</th>
            <th>Expression</th>            
            <th>Colour</th>
        </thead>
        <tr ng-repeat="serie in chartDetail.series">
            <td class="serie name">{{serie.name}}</td>
            <td class="serie expression">{{serie.expression}}</td>
            <td class="serie colour" style="background-color:{{serie.colour}};"></td>
        </tr>
    </table>

</div>