<div class="chart" data-ng-init="init()">
    <H1>{{chartDetail.name}}</H1>
    <p>{{chartDetail.description}}</p>
    
    <div id="{{selectedChartId}}" style="display:block;font-size: 72pt; text-align: center; vertical-align:middle; width:100%; max-height: 300px"></div>
    
    <H2>Series</H2>
    <button ng-click="drawChart()">refresh</button>
    <table class="series">
        <thead>
            <th>Name</th>
            <th colspan="2">Expression</th>            
            <th class="colour">Colour</th>
        </thead>
        <tr ng-repeat="serie in chartDetail.series">
            <td class="serie name">{{serie.name}}</td>
            <td class="serie expression">{{serie.expression}}</td>
			<td class="serie searchbutton"><i ng-click="expressionSearch(serie)" class="glyphicon glyphicon-search"></i></td>
            <td class="serie colour" >
				<div class="colour" style="background-color:{{serie.colour}};"> 
				&nbsp;</div>
			</td>
        </tr>
    </table>

</div>